<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://arf20.com/style.css">
        <title>ARFNET</title>
        <style>
table, th, td {
  border: 1px solid #abb2bf;
}

.up {
    background-color: green;
}

.down {
    background-color: red;
}
        </style>
    </head>

    <body>
        <header><a href="http://arf20.com">
            <img src="http://arf20.com/arfnet_logo.png" width="64"><span class="title"><strong>ARFNET</strong></span>
        </a></header>
        <hr>
        <main>
            <h2 class="center">Status Monitor</h2>
            <p>This webapp monitors the status of the main ARFNET services from outside the ARFNET network</p>
            <table>
                <tr><th>Type</th><th>Service</th><th>Status</th></tr>
                %s
            </table>
        </main>
    </body>
</html>

